body{
    background-image: url(cont.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
form{
    color: black;
}
#onea{
    display: inline-block;
    padding-left: 0;
}
a{
      color: white;
      transition: .5;
      text-decoration: none;
      font-family: 'Lato', sans-serif;
}
  nav{
      display: inline-block;
      padding-left: 23cm;
    
  }
  a:hover{
    color: rgba(255, 92, 4, 0.922);
 }
#ww{
      font-family: 'Bungee Spice', sans-serif;
      padding-left: 0;
}
form input{
    width: 30%;
    height: 30px;
    border: 2px solid black;
    background: transparent;
    border-radius: 0;
    margin-bottom: 10px;
    transition: .5;

}
form label{
    color: black;
    font-size:50 px;
    font-weight: 300;
    margin-bottom: 10px;
}
form input:focus-visible{
    outline: none;
}
form input:focus{
    border: 2px solid black;
}
form{
    position: absolute;
    transform: translate(-50%, -50%);
    top:60%;
    left:50%;
    background:rgba(220, 144, 21, 0.968);
    width: 44.5%;
    height: 13cm;
    margin:0 auto;
    padding:40px;
}
h1{
    text-align: center;
}
::placeholder{
    color: black;
}
#main{
    display: inline;
    left: 50%;
}
#main:hover{
color: rebeccapurple;    
}
#main2{
    display: inline;
    padding-left: 2cm;
   
}
#bb{
    width: 10%;
    height: 20px;
    
}
#ll{
    width: 10%;
    height: 20px;
   
}
#mm{
    width: 10%;
    height: 20px;
}
#kk{
    width: 10%;
    height: 20px;
   
}